<?xml version="1.0" encoding="UTF-8"?>
<!--
  注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
  设置和注释的完整列表在 machine.config.comments 中，该文件通常位于 \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <!--数据源-->
  <appSettings>
    <!--默认数据源：Database=数据库、Xml=xml、File=文件-->
    <!--<add key="DefaultDataSourece" value="Database"/>-->
    <!--默认数据库-->
    <add key="DefaultDatabase" value="Sql2008" />
  </appSettings>
  <!--数据库连接串-->
  <connectionStrings>
    <clear />
    <!--<add name="access2003"/>-->
    <!--<add name="access2007"/>-->
    <!--<add name="sql2000"/>-->
    <!--<add name="sql2005"/>-->
    <add name="Sql2008" connectionString="server=.\SQLEXPRESS;database=game_2023_07;user id=sa;password=123456" />
    <!--<add name="sql2010"/>-->
    <!--<add name="sql2012"/>-->
    <!--<add name="oracle9i"/>-->
    <!--<add name="oracle10g"/>-->
    <!--<add name="oracle19c"/>-->
    <!--<add name="mySql5.1"/>-->
  </connectionStrings>
  <system.web>
    <!--错误提示-->
    <!--<customErrors mode="On"></customErrors>-->
    <!--用户的安全身份验证模式-->
    <authentication mode="Windows" />
    <!--缓存设置：MVC时cookieless="true"-->
    <sessionState mode="InProc" cookieless="false" timeout="300" />
    <!--编码格式-->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--页面设置-->
    <pages autoEventWireup="false" validateRequest="false" enableViewState="true" enableViewStateMac="false" enableSessionState="true" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--pageParserFilterType="harryMVC.ViewTypeParserFilter, harryMVC"-->
      <!--userControlBaseType="harryMVC.MyBaseUserControl, harryMVC"-->
      <!--
        autoEventWireup：页面无委托事件不自动执行
        validateRequest：页面请求验证
        enableViewState：当前页请求结束时该页是否保持其视图状态以及它包含的任何服务器控件的视图状态
        enableViewStateMac：当前页从客户端回发时，ASP.NET 是否应对页的视图状态运行消息验证检查 (MAC)
        enableSessionState：会话状态
        enableEventValidation：指示页面验证回发事件,还是验证回调事件
        viewStateEncryptionMode：
        controlRenderingCompatibilityVersion：控件的src属性
        clientIDMode:控件的ClientID模式（AutoID-默认、Static-不改变）
        MVC：
        pageBaseType="harryMVC.MyBasePage, harryMVC"
      -->
      <!--<namespaces>
        <add namespace="harry"/>
        <add namespace="harryMVC"/>
        <add namespace="CommonLib"/>
      </namespaces>-->
      <!--用户控件-->
    </pages>
    
    <!--设置 compilation debug="true" 可将调试符号插入已编译的页面中。但由于这会 影响性能，因此只在开发过程中将此值 设置为 true。-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--自定义错页面：403禁止访问，404资源未找到-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="">
      <error statusCode="403" redirect=""/>
      <error statusCode="404" redirect=""/>
    </customErrors>-->
    <!--运行时配置：上传限制：单位KB、验证模式，MVC无requestValidationMode="2.0"-->
    <httpRuntime maxRequestLength="2000000" executionTimeout="50" enable="true" requestValidationMode="2.0" />
    
    <!--如果在执行请求的过程中出现未处理的错误，则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，开发人员通过该节可以配置要显示的 html 错误页以代替错误堆栈跟踪。
      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm" />
          <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
    <customErrors mode="Off"/>-->
    <!--Handler映射、WebService请求-->
    <!--<httpHandlers>
      <add path="*.harry" verb="*" type="harryMVC.AjaxHandlerFactory, harryMVC" validate="true"/>
      <add path="*.aspx" verb="*" type="harryMVC.MvcPageHandlerFactory, harryMVC" validate="true"/>
      <add path="/pages/*" verb="*" type="harryMVC.MvcPageHandlerFactory, harryMVC" validate="true"/>
    </httpHandlers>-->
    <!--<httpModules>
      <add name="GzipModule" type="harryMVC.GzipModule, harryMVC"/>
      <add name="SetOutputCacheModule" type="harryMVC.SetOutputCacheModule, harryMVC"/>
    </httpModules>-->
  </system.web>
  <!--设置Framework编译器版本-->
  <!--默认访问页面-->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
                <add value="AdminLogin.aspx" />
        <add value="index.html" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>